* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  background-color: #3D4252;
  display: flex;
}

.sidebar-container {
  width: 70px;
  margin: 30px;
  border-radius: 10px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  transition: width 0.5s;
}

.menu-container {
  width: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lines-container {
  width: 40%;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.lines {
  width: 100%;
  height: 1.8px;
  position: absolute;
  background-color: #000;
}

.line-botton {
  width: 100%;
  border-bottom: 2.3px solid #e7e7e7;
}

.navegation-container {
  width: 100%;
  height: 100%;
  margin: 70px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navegation-opc {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 28px;
  cursor: pointer;
  padding: 12px 14px;
  border-radius: 8px;
  transition: all 0.6s;
  transform: none; /* Se estaba usando la propiedad transform para mover los íconos hacia la derecha cuando están activos. Sin embargo, no se estaba quitando esta transformación cuando los iconos no estaban activos, lo que causaba algunos problemas visuales cuando volvian a su estado inicial.*/
  will-change: transform; /* La propiedad se utiliza para informar al navegador que un elemento experimentará transformaciones en el futuro cercano. Esto permite al navegador optimizar el rendimiento alocando recursos de antemano y evitando la recalculación innecesaria de la disposición y el estilo.*/
}

p {
  margin-left: 30px;
  font-size: 18px;
  display: none;
  animation: text-open 0.5s forwards;
}

.i-house.active,
.i-about.active,
.i-message.active,
.i-photos.active,
.i-setting.active {
  color: #fff;
  position: absolute;
  transform: translateX(35px);
  transition: transform 0.6s;
}

.i-house.active {
  background-color: #FE5438;
}

.i-about.active {
  background-color: #F89C1D;
}

.i-message.active {
  background-color: #01AA0E;
}

.i-photos.active {
  background-color: #158feb;
}

.i-setting.active {
  background-color: #aa52d7;
}

/* ANIMACIÓN DEL MENÚ DE HAMBURGUESA*/
.line1 {
  animation: menu-close1 0.7s forwards;
  will-change: transform;
}

.line2 {
  animation: menu-close2 0.7s forwards;
  will-change: transform;
}

.line3 {
  animation: menu-close3 0.7s forwards;
  will-change: transform;
}

.open .line1 {
  animation: menu-open1 0.7s forwards;
  will-change: transform;
}

.open .line2 {
  animation: menu-open2 0.7s forwards;
  will-change: transform;
}

.open .line3 {
  animation: menu-open3 0.7s forwards;
  will-change: transform;
}

@keyframes menu-open1 {
  0%{
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes menu-open2 {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes menu-open3 {
  0%{
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes menu-close1 {
  0%{
    transform: rotate(45deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes menu-close2 {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes menu-close3 {
  0%{
    transform: rotate(-45deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes text-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ESTILOS CUANDO SE DESPLIEGA EL SIDEBAR*/

.sidebar-container.open {
  width: 280px;
}

.navegation-opc.open {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 7px;
}

p.open {
  display: block;
  transition: transform 0.5s;
  cursor: pointer;
  animation: text-open 0.5s forwards;
}

.i-house.open.active,
.i-about.open.active,
.i-message.open.active,
.i-photos.open.active,
.i-setting.open.active {
  transform: translateX(15px);
  position: static;
}

.p-house.open.activate,
.p-message.open.activate,
.p-about.open.activate,
.p-camera.open.activate,
.p-setting.open.activate {
  transform: translateX(15px);
}

.p-house.open.activate{
  color: #FE5438;
}

.p-about.open.activate {
  color: #F89C1D;
}

.p-message.open.activate {
  color: #01AA0E;
}

.p-camera.open.activate {
  color: #158feb;
}

.p-setting.open.activate {
  color: #aa52d7;
}