* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85vw;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no caben en una sola línea */
  gap: 2rem;
}

.img,
.container section {
  flex: 1;
  min-width: 300px; /* Establece el ancho mínimo de los elementos */
}

.img {
  min-height: 300px;
  max-height: 60vh; /* Establece la altura máxima de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  border-radius: 10px;
  overflow: hidden; /* Oculta cualquier parte que se salga de la imagen */
}

.container section {
  background-color: #fff;
  border-radius: 10px;
}

.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.btn {
  flex: 1;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn:hover:not(.active) {
  background-color: #333;
  color: white;
}

.text-container {
  padding: 30px;
  max-height: 420px;
  overflow-y: auto; /* Agregado para permitir desplazamiento vertical si es necesario */
}

.text-container h2 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 400;
}

.text-container p {
  font-size: 20px;
}

.step-2,
.step-3 {
  display: none;
}