* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.about-container {
  width: 100%;
  height: 100%;
  background-color: #023047;
  right: 0;
  z-index: 2;
  position: absolute;
  transition: all 0.6s;
  transform: translateX(50%);
}

.about-container.toggle{
  transform: translateX(-50%);
}

/* LOGIN CONTAINER STYLES */
.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form__text-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.login-form__p {
  font-size: 13px;
  cursor: pointer;
}

/* REGISTER CONTAINER STYLES*/
.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.register-form__name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px
}

.register-form__name, .register-form__lastname {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* LOGIN Y REGISTER LOGO STYLE*/
.login-logo img,
.register-logo img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  user-select: none;
}

/* LOGIN Y REGISTER TITLE (H2) STYLE*/
.login-title,
.register-title {
  font-size: 30px;
}

/* LOGIN Y REGISTER FORM CONTAINER STYLE*/
.login-form, 
.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
}

/* LOGIN Y REGISTER LABELS STYLE*/
.login-form__label, 
.register-form__label {
  font-size: 13px;
  margin: 15px 0px 5px 0px;
}

/* LOGIN Y REGISTER INPUTS STYLE*/
.login-form__input, 
.register-form__input {
  padding: 10px;
  width: 100%;
  border: 1px solid #c2c8d0;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* LOGIN Y REGISTER BUTTONS STYLE*/
.login-form__btn,
.register-form__btn {
  margin: 20px 0px 0px 0px;
  border: none;
  width: 100%;
  padding: 13px;
  background-color: #023047;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}

.login-form__btn:hover,
.register-form__btn:hover {
  background-color: #022536;
} 

/* LOGIN Y REGISTER SEPARATE LINE STYLE*/
.login-separate, 
.register-separate {
  margin-top: 20px;
  display: flex;
  min-width: 350px;
  justify-content: center;
  align-items: center;
}

.login-separate__line,
.register-separate__line {
  width: 100%;
  height: 1.4px;
  background-color: #c2c8d0;
}

.login-separate__text,
.register-separate__text {
  margin: 0px 20px;
}

/* LOGIN Y REGISTER OPTIONS STYLE*/
.login-options, 
.register-options {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #c2c8d0;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.login-container__google-icon,
.register-container__google-icon {
  width: 20px;
  height: 20px;
  margin: 0px 30px 0px 10px;
}

.login-container__google-text,
.register-container__google-text {
  font-size: 14px;
}

.login-container__text,
.register-container__text {
  font-size: 15px;
  margin-top: 20px;
}

.login-container__text-btn,
.register-container__text-btn {
  cursor: pointer;
  color: #0096f6;
}

/* REPONSIVE */
@media (max-width: 992px) {
  .about-container {
    display: none;
  }
  body {
    margin: -30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .container {
    padding: 30px;
  }

  .login-container {
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    position: absolute;
  }

 .register-container {
    transform: translateX(200%);
    transition: all 0.6s ease-in-out;
    position: absolute;
  }

  .login-container.toggle{
    transform: translateX(200%);
    transition: all 0.6s ease-in-out;
  }

  .register-container.toggle {
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
}