/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden scroll;
}

/*HEADER STYLE*/
.header {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header.scrolled {
  background-color: #0c0c0c;
}

.header__nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__links {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* HOME SECTION STYLE*/
.home {
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/hero-image-1.jpg);
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.home::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}

.home__content {
  width: 45%;
  position: relative;
  left: 80px;
  top: 280px;
  color: #fff;
}

.home__title {
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
}

.home__text {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.1rem;
}

.carrusel {
  width: 100%;
  height: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.carrusel-list {
  width: 80vw;
  height: inherit;
  display: flex;
  gap: 10px;
  padding: 15px;
}

.carrusel-img {
  width: 100%;
  position: relative;
  transition: transform 300ms linear;
  cursor: pointer;
}

.carrusel-img::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, transparent, #000);
  width: 100%;
  height: 100%;
  transition: opacity 300ms linear;
}

.carrusel-img:hover::before {
  opacity: 0;
}

.carrusel-img:hover {
  transform: scale(1.05);
}

.carrusel-img img {
  width: inherit;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* SECTIONS TITLES AND TEXT*/
.section-title {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  color: #0c0c0c;
}

.section-text {
  font-family: "IBM Plex Sans", sans-serif;
  color: #868686;
}

/* MAIN STYLE*/
.main {
  width: 100vw;
  background-color: #FFF;
  margin: 0 auto;
  padding: 5vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 65%;
  gap: 50px;
}

.production {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.production-info {
  width: 40%;
}

.production-img {
  width: 60%;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.production-img img {
  width: 170px;
  height: auto;
  object-fit: cover;
  object-position: top;
  display: flex;
  cursor: pointer;
  transition: transform 200ms linear;
  user-select: none;
}

.production-img img:hover {
  transform: scale(1.01);
}

.sinopsis-img {
  margin: 30px auto 0 auto; 
  width: 100%;
  height: auto;
}

.sinopsis-img img {
  width: inherit;
  height: auto;
}

.science img {
  margin: 30px auto;
  width: 100%;
  height: auto;
}

.video {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.rating {
  text-align: center;
  width: 100%;
}

.stats {
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
  padding: 20px;
  display: flex;
  color: #0c0c0c;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.stat-number {
  font-size: 2rem;
}

.stat-number span {
  color: #c0c0c0;
}

.stat-text {
  font-size: 1.05rem;
}

.cast {
  width: 100%;
}

/* CAST SECTION STYLE*/
.cast-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 20px;
}

.cast-profile {
  width: 100%;
  height: 280px;
}

.cast-profile img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: top;
  object-fit: cover;
  cursor: pointer;
  transition: transform 200ms linear;
  user-select: none;
}

.cast-profile img:hover {
  transform: scale(1.01);
}

.cast-character {
  color: #c0c0c0;
  font-size: .9rem;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.casting-btn {
  border: none;
  padding: 12px;
  border-radius: 5px;
  background-color: #0c0c0c;
  color: #FFF;
  font-family: "IBM Plex Sans", sans-serif; ;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.footer {
  height: 120px;
  width: 100%;
  background-color: #0c0c0c;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif; ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}
