/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* SECTIONS STYLES*/
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: #fff;
  font-family: "Anta", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  background-image: url(/assets/hero-img-4.jpg);
}

/* .about {
  background-image: url(/assets/about-img-3.jpg);
} */

/* .trailer {
  background-image: url(/assets/about-img-2.jpg);
} */

.cast {
  background-image: url(/assets/cast-img-2.png);
}

.home::before,
/* .about::before, */
/* .trailer::before, */
.cast::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 98%, rgba(0,0,0,0.8) 100%);
}

.title {
  font-size: 2.5rem;
  position: relative;
  text-transform: uppercase;
  padding: 40px 0 40px 40px;
}

/* CIRCLE INFO STYLE*/
.circle {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.circle-info {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.circle-info__text {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0);
  animation: closeText 0.5s ease-in both;
  font-family: "Anta", sans-serif;
}

.circle-info__text.open {
  animation: openText 0.5s ease-in both;
}

/*HEADER STYLE*/
.header {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header.scrolled {
  background-color: #0c0c0c;
}

.header__nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__links {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* .nav__links:not(.active)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff ; 
  z-index: 2;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.nav__links:hover::after {
  width: 100%;
  left: 0;
} */

/* HOME SECTION STYLE*/
.home__content {
  width: 45%;
  position: relative;
  left: 80px;
  top: 280px;
  color: #fff;
}

.home__title {
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
}

.home__text {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.1rem;
}

.home__info-position {
  bottom: 100px;
  right: 100px;
}

.carrusel {
  width: 100%;
  height: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.carrusel-list {
  width: 80vw;
  height: inherit;
  display: flex;
  gap: 10px;
  padding: 15px;
}

.carrusel-img {
  width: 100%;
  position: relative;
  transition: transform 300ms linear;
  cursor: pointer;
}

.carrusel-img::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, transparent, #000);
  width: 100%;
  height: 100%;
  transition: opacity 300ms linear;
}

.carrusel-img:hover::before {
  opacity: 0;
}

.carrusel-img:hover {
  transform: scale(1.05);
}

.carrusel-img img {
  width: inherit;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ABOUT SECTION STYLE*/
.about {
  width: 100vw;
  background-color: #FFF;
  margin: 0 auto;
  padding: 5vh 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 70%;
  gap: 20px;
}

.directores {
  height: 50vh;
  display: flex;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dictores-info {
  width: 40%;
}

.directores__title {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  color: #0c0c0c;
}

.directores__text {
  font-family: "IBM Plex Sans", sans-serif;
  color: #868686;
}

.directores-img {
  width: 60%;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.directores-img img {
  width: 170px;
  height: auto;
  object-fit: cover;
  object-position: top;
  display: flex;
  cursor: pointer;
  transition: transform 200ms linear;
  user-select: none;
}

.directores-img img:hover {
  transform: scale(1.01);
}

.sinopsis {
  padding: 0 30px;
  width: 100%;
}

.sinopsis__title {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  color: #0c0c0c;
}

.sinopsis__text {
  font-family: "IBM Plex Sans", sans-serif;
  color: #868686;
}

.sinopsis-img {
  margin: 30px auto;
  width: 100%;
  height: auto;
}

.sinopsis-img img {
  width: inherit;
  height: auto;
}

.section.about {
  height: 100%;
  margin-bottom: 20px;
}

.science {
  padding: 0 30px;
  width: 100%;
}

.science__title {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  color: #0c0c0c;
}

.science__text {
  font-family: "IBM Plex Sans", sans-serif;
  color: #868686;
}

.science img {
  margin: 30px auto;
  width: 100%;
  height: auto;
}

.puntuacion {
  text-align: center;
  padding: 50px 30px;
  width: 100%;
}

.puntuacion__title {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  color: #0c0c0c;
}

.stats {
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
  padding: 20px;
  display: flex;
  color: #0c0c0c;
  justify-content: center;
  gap: 100px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}
.stat-number {
  font-size: 2rem;
}

.stat-number span {
  color: #c0c0c0;
}

.stat-text {
  font-size: 1.05rem;
}

/* TRAILER SECTION STYLE*/

.trailer {
  width: 100%;
  padding: 0 30px;
}

.trailer__title  {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: #0c0c0c;
}

.video {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CAST SECTION STYLE*/
.cast-container {
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

}

.cast-profile {
  position: relative;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #202124;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  transition: transform 0.2s ease-in-out ;
  padding: 5px;
}

.cast-profile img {
  width: 200px;
  height: 80%;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
  object-position: top;
  object-fit: cover;
}

.cast-profile:hover {
  transform: scale(1.05);
}

.cast__info-position {
  right: 100px;
  top: 40px;
}

.cast-character {
  margin-bottom: 20px;
  color: #b0b0b0;
}

.footer {
  height: 300px;
  width: 100%;
  background-color: #0c0c0c;
  color: #fff;
  font-family: "Anta", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS */

@keyframes openText {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes closeText {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
