/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* SECTIONS STYLES*/
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: #fff;
  font-family: "Anta", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  background-image: url(/assets/hero-img-4.jpg);
}

.about {
  background-image: url(/assets/about-img-3.jpg);
}

.trailer {
  background-image: url(/assets/about-img-2.jpg);
}

.cast {
  background-image: url(/assets/cast-img-2.png);
}

.home::before,
.about::before,
.trailer::before,
.cast::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}

.title {
  font-size: 2.5rem;
  position: relative;
  text-transform: uppercase;
  padding: 40px 0 40px 40px;
}

/* CIRCLE INFO STYLE*/
.circle {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.circle-info {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.circle-info__text {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0);
  animation: closeText 0.5s ease-in both;
  font-family: "Anta", sans-serif;
}

.circle-info__text.open {
  animation: openText 0.5s ease-in both;
}

/*HEADER STYLE*/
.header {
  width: 100vw;
  padding: 30px 100px;
  font-family: "Anta", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav__item{
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.nav__item.active {
  font-weight: bold;
}

.nav__item:not(:last-child) {
  margin-right: 150px;
}

.nav__links {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* HOME SECTION STYLE*/
.home__content {
  width: 50%;
  position: absolute;
  left: 80px;
  bottom: 200px;
  color: #fff;
  font-family: "Anta", sans-serif;
}

.home__title {
  font-size: 70px;
}

.home__text {
  font-size: 18px;
}

.home__info-position {
  bottom: 100px;
  right: 100px;
}

/* ABOUT SECTION STYLE*/
.sinopsis {
  padding: 0 0 20px 40px;
  max-width: 500px;
  position: relative;
  color: #8e8e8e;
}

.sinopsis__title {
  font-size: 1.5rem;
}

.sinopsis__text {
  font-size: 1rem;
}

.cards__title {
  position: relative;
  font-size: 1.5rem;
  padding-left: 40px;
  margin-bottom: 10px;
  color: #8e8e8e;
}

.cards {
  width: 800px;
  height: 300px;
  position: relative;
  padding: 0 0 0 40px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.card {
  width: 200px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;
  font-size: 1rem;
}

.card img {
  margin: 8px 0;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
}

.about__info-position {
  width: 400px;
  right: 100px;
  top: 250px;
}

/* TRAILER SECTION STYLE*/
.video {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

.trailer__info-position {
  bottom: 50px;
  left: 50px;
  flex-direction: row;
}

/* CAST SECTION STYLE*/
.cast-container {
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.cast-profile {
  flex: 13%;
  height: 270px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.cast-profile img {
  height: 170px;
  object-fit: cover;
  border-radius: 3px;
}

.cast__info-position {
  right: 100px;
  top: 40px;
}

.cast-character {
  color: #d0d0d0;
}

/* ANIMATIONS */

@keyframes openText {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes closeText {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
